<div class="container row px-5">

    <!-- PAGE HEADER. -->

    <div class="book-details-header d-flex justify-content-between align-items-center">
        <h2>book notes</h2>
        <div style="display:inline-block">
            <a class="outlined-button button-h6" href="/book/{{book.id}}">View Book</a>
            <a class="theme-button button-h6" href="/add-new-note/{{book.id}}"">Add Note</a>
        </div>
    </div>
    

    <!-- LEFT SIDEBAR. BOOK OVERVIEW. -->
    
    <div class="row align-items-start g-3">
        <div class="col-lg-4 col-md-5 col-sm-12 col-12">
            <div class="book-details-sidebar">
                <div>

                    {{!-- BOOK COVER --}}
                    <img class="details-book-cover" src="{{book.image}}" alt="Throne of Glass cover" width="200px" height="300"/>

                    {{!-- BOOK DETAILS --}}
                    <div style="margin-top:40px;">
                        <h4>{{book.title}}</h4>
                        <p>{{book.author}}</p>    

                        <hr style="width:60%"/>

                        <div style="display:inline-flex; align-items:center;">
                            <h6 class="notes-counter" style="margin-right:10px;">{{noOfNotes}}</h6>
                            <h6>Notes</h6>
                        </div>
                    </div>                               
                </div>
            </div>
        </div>
        

<!-- RIGHT SIDE -->

        <div class="col-lg-8 order-lg-2 col-md-7 order-md-2 col-sm-12 order-sm-1 col-12 order-1">
            
            {{!-- DISPLAYS ALL BOOK NOTES FOR SPECIFIC BOOK. --}}
            {{#each notes as |note| }}
                <div class="note-list">
                    <a class="title-link" href="/single-note/{{book_id}}">
                        <h4 class="note-title">{{note.title}}</h4>
                    </a>
                    <p class="note-description">{{note.description}}</p>
                </div>
            {{/each}}  
        
        </div>   
    </div>
</div>

<script src="../js/single-note.js"></script>