<div class="container px-5 justify-content-center">
    <div class="row justify-content-center g-5">

      <div class="col-lg-8 col-md-7 col-sm-12 col-12">
        <h6>Edit Book Details</h6>
        <h1>{{title}}</h1>


            <form enctype="multipart/form-data" style="margin-top:50px;" class="edit-book-form">

                <!-- Title Input -->
                <div class="form-group" style="margin-bottom:20px;">
                    <label for="form-book-title" class="form-label-h6">Title</label>

                    <input type="text" id="edit-title" class="form-control"
                        aria-label="Book Title" value="{{title}}">
                </div>

                <!-- Author Input -->
                <div class="form-group" style="margin-bottom:20px;">
                    <label for="form-author-name" class="form-label-h6">Author</label>

                    <input type="text" id="edit-author" class="form-control"
                        aria-label="Author Name" value="{{author}}">
                </div>

                <!-- Genre Input -->

                <div class="form-group" style="margin-bottom:20px;">
                    <label for="form-genre" class="form-label-h6">Genre</label>

                    <select class="form-select form-control" aria-label="Default select example" id="edit-genre" value="{{genre}}">
                        <option selected>Select Main Genre</option>
                        <option value="Romance">Romance</option>
                        <option value="Science Fiction">Science Fiction</option>
                        <option value="Mystery">Mystery</option>
                        <option value="Yount Adult">Young Adult</option>
                        <option value="New Adult">New Adult</option>
                        <option value="Dystopian">Dystopian</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="Historical Fantasy">Historical Fantasy</option>
                        <option value="Thriller">Thriller</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

                <!-- Read Status -->

                <div class="form-group" style="margin-bottom:20px;">
                    <label for="form-read-status" class="form-label-h6">Book Status</label>

                    <select class="form-select form-control" aria-label="Default select example" id="edit-status" value="{{has_read}}">
                        <option selected>Have you read this title?</option>
                        <option value="1">Yes!</option>
                        <option value="2">Not yet!</option>
                    </select>
                </div>

                {{!-- Description --}}

                <div class="form-group" style="margin-bottom:20px;">
                    <label for="form-book-description" class="form-label-h6">Book Description</label>

                    <textarea id="edit-book-description" class="form-control" name="edit-book-description" rows="6" cols="50" style="padding:40px"
                        aria-label="Book Description">{{description}}</textarea>
                </div>


                <!-- Upload Cover -->

{{!--     
                <div class="form-group" style="margin-bottom:20px;">
                    <label for="form-book-cover" class="upload-button button-h6">
                        <input type="file" id="form-book-cover" class="upload-button button-h6"> 
                        Upload Cover
                    </label>

                     
                </div> --}}

                <div style="text-align:end;">           
                    <button type="submit" class="theme-button button-h6">Update Book</button>
                </div>
            </form>


      </div>
     
    </div>


</div>

  <script src="/js/edit-book.js"></script>
  
  
